<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Student</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        List Student
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-actions">
                                        <div>
                                            <input class="course-item-select-all" name="course-item-select-all" type="checkbox">
                                            <label for="course-item-select-all">Select all</label>
                                        </div>
                                        <!-- Single button -->
                                        <div class="btn-group btn-group-actions">
                                        <button type="button" class="btn btn-primary dropdown-toggle btn-action disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action all selected <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu list-actions">
                                            <li><a>Ban</a></li>
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <a class="btn btn-primary btn-open-rubbish" href="/courses/rubbish/"> 
                                        (0) Banned List
                                    </a>
                                </div>
                            </div>
                            <form class="form-action" method="POST" action="/students/:id/ban">
                                <input type="text" class="input-action" name="input-action" style="display: none;">
                                <table class="table table-striped table-bordered table-hover courses-list" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>ID Student</th>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Birth</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Create date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each students}}
                                            <tr class="odd gradeX course-item" idCourse="{{this._id}}">
                                                <td>
                                                    <input class="course-item__checkbox" type="checkbox" name="courseIds[]" value="{{this._id}}">
                                                    {{this._id}}
                                                </td>
                                                <td>{{this.name}}</td>
                                                <td>{{this.username}}</td>
                                                <td>{{this.birth}}</td>
                                                <td>{{this.email}}</td>
                                                <td>{{this.phone}}</td>
                                                <td>{{dateTimeModifier this.createAt}}</td>
                                            </tr>
                                        {{else}}
                                        <tr>
                                            <td colspan="8" class="text-center">
                                                CHƯA CÓ HỌC VIÊN NÀO
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <!-- /.table-responsive -->
                        
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<!-- DataTables JavaScript -->
<script src="/js/dataTables/jquery.dataTables.min.js"></script>
<script src="/js/dataTables/dataTables.bootstrap.min.js"></script>
<script>
        const checkboxCourses = $('input[name="courseIds[]"]');
        const checkboxAllCourses = $('input[name="course-item-select-all"]');

        //enable pagination table
        $(document).ready(function() {
            $('#dataTables-example').DataTable({
                    responsive: true
            });
        });

        //redirect to edit course
        $('.course-item').click(function() {
            window.location.href = `/courses/${$(this).attr('idCourse')}/edit`;
        });
        
        //check box all
        checkboxAllCourses.change(function(){
            checkboxCourses.prop('checked', $(this).is(':checked'));
            renderBtnAction();
        })

        //check box
        checkboxCourses.change(function(e){
            let countBoxChecked = $('input[name="courseIds[]"]:checked');
            checkboxAllCourses.prop('checked', checkboxCourses.length === countBoxChecked.length);
            renderBtnAction();
        })

        checkboxCourses.click(function(e){
            let countBoxChecked = $('input[name="courseIds[]"]:checked');
            e.stopPropagation();
        })

        //render button action
        renderBtnAction = () =>{
            if ($('input[name="courseIds[]"]:checked').length) $('.btn.btn-action').removeClass('disabled');
            else $('.btn.btn-action').addClass('disabled');
        }

        //submit btn action
        $('.list-actions li a').click(function(e){
            e.preventDefault();
            $('.input-action').attr('value',`${$(this).html()}`);
            $('.form-action').submit();
        })
</script>