<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Student</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        List Student
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-actions">
                                        <div>
                                            <input class="checkBox-select-all" name="checkBox-select-all" type="checkbox">
                                            <label for="checkBox-select-all">Select all</label>
                                        </div>
                                        <!-- Single button -->
                                        <div class="btn-group btn-group-actions">
                                        <button type="button" class="btn btn-primary dropdown-toggle btn-action disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action all selected <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu list-actions">
                                            <li><a>Ban Login</a></li>
                                            <li><a>Ban Comment</a></li>
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <a class="btn btn-primary btn-open-rubbish" href="/students/rubbish/"> 
                                        ({{bannedCount}}) Banned List
                                    </a>
                                </div>
                            </div>
                            <form class="form-action" method="POST" action="/students/handle-form-actions">
                                <input type="text" class="input-action" name="input-action" style="display: none;">
                                <table class="table table-striped table-bordered table-hover table-item-list" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>ID Student</th>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Birth</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Create date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each students}}
                                            {{#if (orLogical this.banned.comment this.banned.login)}}
                                            {{else}}
                                                <tr class="odd gradeX table-item" idCourse="{{this._id}}">
                                                    <td>
                                                        <input class="table-item__checkbox" type="checkbox" name="itemIds[]" value="{{this._id}}">
                                                        {{this._id}}
                                                    </td>
                                                    <td>{{this.name}}</td>
                                                    <td>{{this.account.username}}</td>
                                                    <td>{{this.birth}}</td>
                                                    <td>{{this.email}}</td>
                                                    <td>{{this.phone}}</td>
                                                    <td>{{dateTimeModifier this.createAt}}</td>
                                                </tr>
                                            {{/if}}
                                        {{else}}
                                        <tr>
                                            <td colspan="8" class="text-center">
                                                CHƯA CÓ HỌC VIÊN NÀO
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <!-- /.table-responsive -->
                        
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<!-- DataTables JavaScript -->
<script src="/js/dataTables/jquery.dataTables.min.js"></script>
<script src="/js/dataTables/dataTables.bootstrap.min.js"></script>
<script src="/js/checkbox.js"></script>
<script>
</script>